.sailor {
	float: left;
	width: 25%;
	margin-right: 15px;
}

.p2{
	clear: left; /*or both would work*/
}

.clear-it{
	clear: left;
	margin-top: 20px;
	margin-bottom: 15px;
}

div{
	background-color: blue;
	border: 1px solid black;
	overflow: hidden;
}

aside{
	background-color: limegreen;
	float:left;
	width:25%;
	padding: 1em;
}

main{
	background-color: green;
	float:left;
	width: calc(75% - 2em);
	padding: 1em;
	}
}
